.header {
  background-color: rgb(234, 239, 250);
}

.footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color:rgb(234, 239, 250);
}

.intro {
  width : 50%;
}

h1 {
  margin: 0px;
}

.link {
  color: inherit;
  text-decoration: none;
}

body {
 
  text-align: center;
}

.content {
  position: relative;
  min-height: 100vh;
  
 
  
}

body, html {
  margin:0;
  padding:0;
 
}
  
.about {
  font-size: 10px;
  margin-left: 10px;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style-position: inside;
  font-size: 20px;
  display: inline-block;
  Width: 20%;
  font-family: 'Lucida Sans';
  
}

.under {
  text-decoration: underline;
}

li{
  margin-top: 3vw;
}


.list {
  margin-left: -4vw;
 
}

.intro {
  margin: auto;
}

.mypic {
  width: 10%;
  height: 10%;
}

footer {
  position: sticky;
}


@media (max-width: 320px) { }

@media (max-width: 768px) { }

@media (min-width: 1200px) { }